[submodule "libraries/libc/cdt-musl"]
	path = libraries/libc/cdt-musl
	url = https://github.com/Anvo-Network/cdt-musl.git
[submodule "libraries/native/softfloat"]
	path = libraries/native/softfloat
	url = https://github.com/AntelopeIO/berkeley-softfloat-3
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project
	branch = release/16.x
[submodule "tools/jsoncons"]
	path = tools/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "boost-assert"]
	path = libraries/boost/libs/assert
	url = https://github.com/boostorg/assert.git
[submodule "boost-config"]
	path = libraries/boost/libs/config
	url = https://github.com/boostorg/config.git
[submodule "boost-container"]
	path = libraries/boost/libs/container
	url = https://github.com/boostorg/container.git
[submodule "boost-container_hash"]
	path = libraries/boost/libs/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "boost-core"]
	path = libraries/boost/libs/core
	url = https://github.com/boostorg/core.git
[submodule "boost-fusion"]
	path = libraries/boost/libs/fusion
	url = https://github.com/boostorg/fusion.git
[submodule "boost-hana"]
	path = libraries/boost/libs/hana
	url = https://github.com/boostorg/hana.git
[submodule "boost-intrusive"]
	path = libraries/boost/libs/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "boost-move"]
	path = libraries/boost/libs/move
	url = https://github.com/boostorg/move.git
[submodule "boost-mp11"]
	path = libraries/boost/libs/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "boost-mpl"]
	path = libraries/boost/libs/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "boost-pfr"]
	path = libraries/boost/libs/pfr
	url = https://github.com/boostorg/pfr.git
[submodule "boost-preprocessor"]
	path = libraries/boost/libs/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "boost-static_assert"]
	path = libraries/boost/libs/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "boost-type_traits"]
	path = libraries/boost/libs/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "boost-utility"]
	path = libraries/boost/libs/utility
	url = https://github.com/boostorg/utility.git
[submodule "boost-describe"]
	path = libraries/boost/libs/describe
	url = https://github.com/boostorg/describe.git
[submodule "boost-function_types"]
	path = libraries/boost/libs/function_types
	url = https://github.com/boostorg/function_types.git
[submodule "boost-io"]
	path = libraries/boost/libs/io
	url = https://github.com/boostorg/io.git
[submodule "boost-predef"]
	path = libraries/boost/libs/predef
	url = https://github.com/boostorg/predef.git
[submodule "boost-throw_exception"]
	path = libraries/boost/libs/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "boost-tuple"]
	path = libraries/boost/libs/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "boost-typeof"]
	path = libraries/boost/libs/typeof
	url = https://github.com/boostorg/typeof.git
[submodule "boost-detail"]
	path = libraries/boost/libs/detail
	url = https://github.com/boostorg/detail.git
