[submodule "libraries/libc/cdt-musl"]
	path = libraries/libc/cdt-musl
	url = https://github.com/Anvo-Network/cdt-musl.git
[submodule "libraries/native/softfloat"]
	path = libraries/native/softfloat
	url = https://github.com/AntelopeIO/berkeley-softfloat-3
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project
	branch = release/16.x
[submodule "tools/jsoncons"]
	path = tools/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
